.header-container {
    display: flex;
    background-color: #1F2937;
}

.header {
    margin-right: auto;
}

.header-links li {
    display: inline-block;
    padding: 12px;
}

.header-links li a {
    color: white;
    text-decoration: none;
}

.wrapper-header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-evenly;
    padding-bottom: 32px;
}

.left-header {
    max-width: 50%;
}

.header-text, .header-subtext {
    color:white;
}

.body-info {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-text {
    max-width: 128px;
}

.paragraph-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 128px;
    background-color: #e5e7eb;
    margin-top: 128px;
    padding-bottom: 100px;
}

.body-paragraph {
    font-size: 32px;
    font-style:italic;
    max-width: 60rem;
}

.quote-credit {
    font-size: 24px;
    padding-left: 44rem;
    padding-top: 4rem;
    font-style: normal;
    font-weight: bold;
    color: #1f2937;
}

.top-signup {
    background-color: #3882f6 ;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.top-signup:hover {
    background-color: darkblue;
}

.footer-wrapper {
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3882f6;
    margin-left: 12rem;
    margin-right: 12rem;
    border-radius: 5px;
}

.footer-text {
   font-weight: bold; 
   padding-top: 2rem;
   color: white;
}

.footer-subtext {
    padding-bottom: 2rem;
    color: white;
}