.header-container {
    display: flex;
    background-color: #1F2937;
}

.header {
    margin-right: auto;
}

.header-links li {
    display: inline-block;
    padding: 12px;
}

.header-links li a {
    color: white;
    text-decoration: none;
}

.wrapper-header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-evenly;
    padding-bottom: 32px;
}

.left-header {
    max-width: 50%;
}

.header-text, .header-subtext {
    color:white;
}

.body-info {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-text {
    max-width: 128px;
}

.paragraph-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 128px;
    background-color: #e5e7eb;
    margin-top: 128px;
    padding-bottom: 100px;
}

.body-paragraph {
    font-size: 32px;
    font-style:italic;
    max-width: 60rem;
}

.quote-credit {
    font-size: 24px;
    padding-left: 44rem;
    padding-top: 4rem;
}

.top-signup {
    background-color: lightskyblue;
    color: white;
}