.header-container {
    display: flex;
    background-color: #1F2937;
}

.header {
    margin-right: auto;
}

.header-links li {
    display: inline-block;
    padding: 12px;
}

.header-links li a {
    color: white;
}